.util {
    float: left;
}

.title {
    font-size: large;
    text-align: center;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.screen {
    width: 1200px;
    height: 450px;
    position: relative;
    border: solid gray 1px;
}

canvas {
    boarder: solid gray 1px;
}


#display3d {
    position: absolute;
    left: 0px;
    top: 0px;
}

#display2d {
    position: absolute;
    left: 600px;
    top: 0px;
}