.util {
    float: left;
}

.title {
    font-size: large;
    text-align: center;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.screen {
    width: 1024px;
    height: 768px;
    position: relative;
    border: solid gray 1px;
}

.normaltext {
    position:absolute;
    left:200px;
    top:200px;
    z-index: 201;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    font-size: 10pt;
}

.largetext {
    position:absolute;
    left:200px;
    top:200px;
    z-index: 201;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    font-size: 40pt;
}

canvas {
    border: solid gray 1px;
}


#display3d {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 55;
}

#BackGround2d {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 50;
}

#Animation2d1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 61;
}

#Animation2d2 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 62;
}
#Animation2d3 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 55;
}

#Menu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
}
